.smart-lights-container {
    background-image: url('../../assets/Footer.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 70vh;
    position: static;
}

.header {
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}